body{
    background-color: rgb(135, 137, 115);
    margin:o;
    padding: 20px;
    color: blanchedalmond;
}
h1{color: calc();
    margin-bottom: 10px;
}
h4{color: brown;

}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.galeria-item{
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 10px;


}
